html {
  font-family: 'Courier New', Courier, monospace;
  background-color: #80411e;
  color: #37251b;
}
div, button {
  background-color: #967259;
  display: table;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  margin-top: 10px;
}
#increment-button {
  font-size: 40px;
  position:absolute;
  margin:none;
  right:0;
  bottom:0;
  left:0;
  top:0;
  height:10%;
  width:30%;
}
div:empty {
  background-color: #80411e;
}
